.header {
  width: 100%;
  position: relative;
  z-index: -1;
  &::after {
    content: "";
    width: 140%;
    height: 302px;
    position: absolute;
    left: -20%;
    top: 0;
    z-index: -1;
    border-radius: 0 0 50% 50%;
    background: #1370f3;
  }
}
